<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="League\Di Test Suite">
            <directory>test/League/Di</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="build/coverage" title="League\Di" charset="UTF-8" yui="true" highlight="true"
            lowUpperBound="35" highLowerBound="70" />
    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="League\PHPUnitCoverageListener\Listener">
            <arguments>
                <array>
                    <element key="printer">
                      <object class="League\PHPUnitCoverageListener\Printer\StdOut"/>
                    </element>
                    <element key="hook">
                      <object class="League\PHPUnitCoverageListener\Hook\Travis"/>
                    </element>
                    <element key="namespace">
                        <string>League\Di</string>
                    </element>
                    <element key="repo_token">
                        <string>HECy03fSgdX1eGK5SimU0fToQPU0BsYT8</string>
                    </element>
                    <element key="target_url">
                        <string>https://coveralls.io/api/v1/jobs</string>
                    </element>
                    <element key="coverage_dir">
                        <string>/tmp/league/di</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>